.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.Modal {
  width: calc(100vw - 360px);
  height: calc(100vh - 280px);
  /* background-color: blueviolet; */
}

.image {
  display: block;
  width: 100%;
  height: auto;
} 
